@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CoreMVC.Models.Person
<div>姓名：@Model.Name</div>
<div>@(Model.IsVIP ? "VIP" : "普通会员")</div>
<div>注册时间：@Model.CreateTime</div>
